<div class="h-100vh w-screen flex flex-col items-center p-4 ">
  <div style="min-width: 50rem; max-width: 50rem;">
    <div class="mb-4 flex justify-between">
      <p-button (click)="showDialog()" label="Agregar" >
        <i class="pi pi-plus-circle" ></i>
      </p-button>
      <div class="flex justify-end">

        <div class="flex items-center  gap-3 mr-1.5 mb-1">
          <select
            class="form-select w-full p-3 bg-gray-700 rounded-md"
            id=""
            [(ngModel)]="seleccion"
            #departamento="ngModel"
            required
          >
            <option value="" disabled selected class="bg-gray-500 ">Formato</option>
            <option
              *ngFor="let depa of formato"
              class="bg-gray-700  hover:bg-gray-600"
            >
              {{depa.name}}
<!--              <i [class]="'pi pi-file-'+depa.name"></i>-->
            </option>
          </select>
        </div>


        <p-button (click)="generarReporte()" label="Generar" >
          <i class="pi pi-print" ></i>
        </p-button>
      </div>
    </div>

    <p-table
      [value]="departamentos"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [style]="{ 'box-shadow': '0 4px 8px rgba(0,0,0,0.1)', 'border-radius': '8px' }"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template #header>
        <tr>
          <th class="w-1/3 text-center p-4" style="text-align: center">Codigo</th>
          <th class="w-1/3 text-center p-4" style="text-align: center">Nombre</th>
          <th class="w-1/3 text-center p-4" style="text-align: center">Acciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-depa >
        <tr class="">
          <td class="text-center p-4" style="text-align: center">{{ depa.codigo }}</td>
          <td class="text-center p-4" style="text-align: center">{{ depa.nombre }}</td>
          <td class="text-center p-4 space-x-2" style="text-align: center">
            <a
              [routerLink]="['/update', depa.id]"
              class="p-button p-button-rounded p-button-text p-button-icon-only"
            >
              <i class="pi pi-file-edit"></i>
            </a>
            <a (click)="delete(depa.id)" class="p-button p-button-rounded p-button-text p-button-icon-only">
              <i class="pi pi-trash"></i>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Nuevo Departamento" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="form-floating mb-3">
    <label for="nombre" class="font-semibold w-24">Nombre</label>
    <input pInputText id="nombre" [(ngModel)]="cNombre" #nombre="ngModel" class=" ml-2 flex-auto" autocomplete="off" required placeholder="Nombre" maxlength="80" minlength="5"/>
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger">
      <div *ngIf="nombre.errors?.['required']">
        El nombre es obligatorio.
      </div>
    </div>
    <div *ngIf="nombre.errors?.['minlength'] || nombre.errors?.['maxlength'] || nombre.errors?.['pattern']">
      El nombre debe tener entre 5 y 80 caracteres.
    </div>
  </div>

  <div class="form-floating mb-3">
    <label for="codigo" class="font-semibold w-24">Codigo</label>
    <input pInputText id="codigo"
           [(ngModel)]="cCodigo"
           class="ml-3.5 flex-auto uppercase placeholder:normal-case "
           autocomplete="off"
           #codigo="ngModel"
           required minlength="2"
           placeholder="Codigo"
           maxlength="2"
    />
    <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="error-message">
      <div *ngIf="codigo.errors?.['required']">
        El código es obligatorio.
      </div>
      <div *ngIf="codigo.errors?.['minlength'] || codigo.errors?.['maxlength'] || codigo.errors?.['pattern']">
        El código debe tener exactamente 2 caracteres.
      </div>
    </div>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
    <p-button label="Guardar" (click)="registTabla()" [disabled]="nombre.invalid || codigo.invalid">
      <i class="pi pi-save"></i>
    </p-button>
  </div>
</p-dialog>
