<div class="card">
  <p-toolbar >
    <ng-template #start>
      <div class="flex items-center gap-2">
        <a href="/depa">
          <p-button label="Departamento" text>
            <i class="pi pi-map"></i>
          </p-button>
        </a>
        <a href="/municipio">
          <p-button label="Municipio" text >
            <i class="pi pi-building"></i>
          </p-button>
        </a>
        <a href="/distrito">
          <p-button label="Distrito" text>
            <i class="pi pi-home"></i>
          </p-button>
        </a>
      </div>
    </ng-template>

<!--    <p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()"/>-->

    <ng-template #end *ngIf="!isLoged()">
      <p-button label="" class="mr-2" (onClick)="toggleDarkMode()"><i class="pi pi-moon"></i></p-button>
      <div class="flex items-center gap-2">
        <a routerLink="">
          <p-button label="login" severity="contrast" size="small" />
        </a>
      </div>
    </ng-template>

    <ng-template #end *ngIf="isLoged()">
      <p-button label="" class="mr-2"  (onClick)="toggleDarkMode()"><i class="pi pi-moon"></i></p-button>
      <div class="flex items-center gap-2">
        <a (click)="logout()">
          <p-button label="logout" severity="contrast" size="small" />
        </a>
      </div>
    </ng-template>


  </p-toolbar>
</div>


<!--<p-menu class="w-1/8 float-left mt-1" [model]="items">-->
<!--  <ng-template #item let-item>-->
<!--    <ng-container *ngIf="item.route; else elseBlock">-->
<!--      <a [routerLink]="item.route" class="p-menu-item-link">-->
<!--        <span [class]="item.icon"></span>-->
<!--        <span class="ml-2">{{ item.label }}</span>-->
<!--      </a>-->
<!--    </ng-container>-->
<!--    <ng-template #elseBlock>-->
<!--      <a [href]="item.url" class="p-menu-item-link">-->
<!--        <span [class]="item.icon"></span>-->
<!--        <span class="ml-2">{{ item.label }}</span>-->
<!--      </a>-->
<!--    </ng-template>-->
<!--  </ng-template>-->
<!--</p-menu>-->
<router-outlet />
